body {
  margin: 0;
  font-family: "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-shadow: 0px 0px 1px #0000003b;
  color: #172b4d;
  background-color: #f0f2f5;
}

.app {
  padding: 24px;
}

.app-buttons {
  background-color: #fff;
  padding: 24px;
  border-radius: 12px;
  display: flex;
  gap: 12px;
  justify-content: center;
  box-shadow: 0 7px 7px -5px #e0e0e0;
}

.title {
  display: flex;
  justify-content: center;
}

pre {
  background-color: #f2f2f2;
  padding: 24px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.flex-row {
  display: flex;
  align-items: center;
}
